#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.samosa {
  height: 15em;
  cursor: pointer;
  padding: 1.5em;
  margin: 0 auto;
  text-align: center;
}
.container {
  display: flex;
  /* align-items: center; */
  margin-top: 50px;
}
.upgrade {
  margin-right: 25px;
  width: 200px;
  padding: 20px 10px 20px 10px;
  border: 1px solid rgba(153, 153, 153, 0.497);
  border-radius: 5px;
  line-height: 0.5;
}
.upgrade button {
  padding: 0.3em 1em 0.3em 1em;
  margin-top: 10px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  color: rgba(255, 255, 255, 0.87);
  border-radius: 8px;
  border: 1px solid transparent;
  cursor: pointer;
}